@media screen and (min-width: 768px){
    .header .container{
        flex-direction: row;
        gap: 40px;
        padding-top: 130px;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 150px;
    }

    .header .content {
        text-align: left;
        flex: 5;
        padding: 0 30px;
    }

    .header h1 {
        font-size: 5rem;
        margin-bottom: 20px;
    }
    
    .header p {
        font-size: 1.3rem;
        line-height: 1.5;
    }

    .header-image {
        overflow:visible;
        height: auto;
        flex: 3;
    }
    
    .header-image img{
        height: auto;
        width: 200%;
        margin-left: 0;
    }

    .btn-lg {
        font-size: 1rem;
    }

    section h2 {
        font-size: 1.8rem;
    }

    section.section-feature .container{
        gap: 35px;
    }
    section.section-feature .content{
        margin: 0 auto;
        padding: 0;
        width: 520px;
    }

    .feature-image {
        width: calc(100% - 80px);
    }

    .feature-image.image-right {
        margin-left: 80px;
    }
    #section-highlights .content {
        align-items: center;
        gap: 25px;
        padding: 60px 40px 30px;
    }

    #section-highlights .buttons-container {
        flex-direction: row;
    }

    .highlighted-numbers {
        flex-direction: row;
        justify-content: space-around;
    }

    .highlighted-numbers > li {
        text-align: left;
    }

    #section-wellcome .container {
        margin: 0 auto;
        width: 600px;
    }
    .footer .container{
        padding: 0 30px;
    }
    .footer-links {
        flex-direction: row;
        justify-content: space-between;
    }

    .footer-social {
        justify-content: flex-start;
        gap: 20px;
    }
}    

@media screen and (min-width: 1024px){

    .navbar {
        padding: 40px;
    }

    .navbar-menu {
        align-items: center;
        display: flex;
        gap: 50px;
    }

    .menu-links {
        display: flex;
        justify-content: space-around;
        gap: 30px;
    }

    .btn-menu {
        display: none;
    }

    .cta-buttons {
        display: flex;
        gap: 30px;
    }

    .menu-actions {
        display: flex;
        gap: 30px;
    }

    .header .container{
        gap: 20px;
    }

    .header .content {
        flex: 7;
    }

    .header-image {
        flex: 6;
    }

    .header p {
        font-size: 1.5rem;
    }

    #section-companies p{
        font-size: 1rem;
        margin-bottom: 30px;
    }

    #section-companies > div {
        justify-content: space-between;
        padding: 0 40px;
    }

    #section-companies > div > img {
        height: 40px;
    }

    section h2 {
        font-size: 2.6rem;
    }

    section.section-feature .container{
        align-items: center;
        flex-direction: row;
    }

    section.section-feature .container{
        padding: 60px 0 60px;
    }

    section.section-feature .container > *{
        flex: 1;
    }

    section.section-feature:nth-child(even) .content{
        margin: 0 auto;
        padding: 0 65px 0 100px;
    }

    section.section-feature:nth-child(odd) .container{
        flex-direction: row-reverse;
    }

    section.section-feature:nth-child(odd) .content{
        margin: 0 auto;
        padding: 0 100px 0 65px;
    }

    .feature-image {
        width: 100%;
    }

    .feature-image.image-right {
        margin-left: 0;
    }

    #section-highlights .content {
        padding: 60px 50px 30px;
    }

    .highlighted-numbers {
        justify-content: space-between;
        margin: 50px 0;
        width: 100%;
    }
    
    .highlighted-numbers .numbers {
        font-size: 4rem;
    }
    
    .highlighted-numbers .text {
        font-size: 1rem;
        width: 190px;
    }
   
    #section-wellcome .container {
        width: auto;
        padding: 60px 40px 40px;
    }

    #section-wellcome .buttons-container {
        flex-direction: row;
        gap: 15px;
        justify-content: center;
    }
}

@media screen and (min-width: 1440px){
    .header .container{
        width: 1240px;
        margin: 0 auto;
        gap: 20px;
    }

    .header h1 {
        margin-bottom: 80px;
    }

    .header .buttons-container {
        flex-direction: row;
    }

    .header .content {
        padding-left: 0;
    }

    .header .btn-lg {
        font-size: .9rem;
    }

    .btn-google .btn-img {
        left: 5px;
        top: 5px;
    }

    .header .btn-google span.btn-label {
        padding-left: 40px;
    }

    .header .buttons-container > *,
    .header .container > * {
        flex: 1;
    }

    .header-image img {
        width: 100%;
    }

    #section-companies > div {
        justify-content: center;
        gap: 80px;
    }

    section.section-feature .container {
        width: 1240px;
        margin: 0 auto;
    }

    section.section-feature:nth-child(even) .content{
        padding: 0 0 0 100px;
    }

    section.section-feature:nth-child(odd) .content{
        padding: 0 100px 0 0px;
    }

    #section-highlights .content {
        padding: 90px 0 60px;
    }

    .highlighted-numbers {
        justify-content: space-evenly;
    }

    #section-wellcome {
        margin-bottom: 90px;

    }

    #section-wellcome::after {
        bottom: -78px;
        height: 310px;
        left: -10%;
        width: 120%;
    }

    .footer-menus > * {
        flex: 0 1 auto;
    }

    .footer .container {
        width: 1240px;
        margin: 0 auto;
        padding: 0;
    }

    .footer-social {
        gap: 60px;
    }
}