/*
background purple: #540B51
background ivory: #F3EAE2
button blue: #4285F4
titles black: #191817
paragraph black: #000000
paragraph yellow: #ECB12F
links blue: #2E71A6
footer links grey: #454245
*/

:root {
    --purple: #540B51;
    --ivory: #F3EAE2;
    --blueGoogle: #4285F4;
    --blue: #2E71A6;
    --black: #191817;
    --darkerBlack: #000000;
    --yellow: #ECB12F;
    --grey: #454245;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-size: 16px;
}

img{
    width: 100%;
}

.navbar {
    background-color: var(--purple);
    display: flex;
    justify-content: space-between;
    padding: 30px;
}

.navbar .slack-logo{
    width: 105px;
}

.navbar button{
    background-color: transparent;
    border: 0;
}

.navbar button + button{
    margin-left: 20px;
}

.menu-links {
    display: none;
    list-style: none;
}

.menu-links li > a{
    color: white;
    font-weight: 600;
    text-decoration: none;
}

.header {
    background-color: var(--purple);
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.header .container{
    display: flex;
    flex-direction: column;
    padding: 0 20px;
    text-align: center;
    gap: 25px;
}

.header h1 {
    color: white;
    font-size: 2.5rem;
    font-weight: 600;
}

.header p {
    color: white;
}

.header p b{
    color: var(--yellow);
}

.header-buttons {
    display: flex;
    flex-direction: column;
    gap: 15px;;
}

.header-image {
    overflow: hidden;
    height: 330px;
}

.header-image img{
    width: 160%;
    margin-left: -30px;
}

.btn {
    border: 0;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 600;
    padding: 20px;
    text-transform: uppercase;
}

.btn-white{
    background-color: white;
    color: var(--purple);
}

.btn-google {
    background-color: var(--blueGoogle);
    color: white;    
    position: relative;
}
.btn-google .btn-img {
    background-color: white;
    border-radius: 2px;
    display: block;
    height: 45px;
    left: 7px;
    position: absolute;
    top: 7px;
    width: 45px;
}

.link {
    color: var(--blue);
    font-size: 1.125rem;
    text-decoration: none;
}

.link span {
    margin-right: 10px;
    font-weight: 600;
}

#section-companies {
    text-align: center;
    background-color: var(--ivory);
    padding: 50px 0;
}

#section-companies p{
    font-size: .945rem;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 30px;
}

#section-companies > div {
    display: flex;
    gap: 30px 20px;
    justify-content: center;
    flex-wrap: wrap;
}

#section-companies > div > img {
    height: 35px;
    width: auto;
}

section .content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 0 15px;
}

section .content h2 {
    font-size: 1.6rem;
}

section .content p {
    font-weight: 600;
    line-height: 1.4;
}

section.section-feature {
    background-color: var(--ivory);
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 10px 0 60px;
}
.feature-image {
    width: calc(100% - 15px);
}

.feature-image.image-right {
    margin-left: 15px;
}