/*
background purple: #540B51
background ivory: #F3EAE2
button blue: #4285F4
titles black: #191817
paragraph black: #000000
paragraph yellow: #ECB12F
links blue: #2E71A6
footer links grey: #454245
*/

:root {
    --black: #191817;
    --blackDarker: #000000;
    --blue: #2E71A6;
    --blueGoogle: #4285F4;
    --grey: #454245;
    --greyLighter: #ebeaeb;
    --ivory: #F3EAE2;
    --purple: #540B51;
    --yellow: #ECB12F;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: none;
}
html, body{
    overflow-x: hidden;
    width: 100%;
}
body {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-size: 16px;
}

img{
    width: 100%;
}

ul {
    list-style: none;
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 30px;
    position: absolute;
    width: 100%;
}

.navbar .slack-logo{
    width: 105px;
}

.navbar button{
    background-color: transparent;
    border: 0;
}

.navbar button + button{
    margin-left: 20px;
}

.menu-links {
    display: none;
}

.link-menu{
    color: white;
    font-weight: 600;
    text-decoration: none;
}

.header {
    background-color: var(--purple);
}

.header .container {
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.header .content{
    display: flex;
    flex-direction: column;
    padding: 0 20px;
    text-align: center;
    gap: 25px;
}

.header h1 {
    color: white;
    font-size: 2.5rem;
    font-weight: 600;
}

.header p {
    color: white;
}

.header p b{
    color: var(--yellow);
}

.buttons-container {
    display: flex;
    flex-direction: column;
    gap: 15px;;
}

.header-image {
    overflow: hidden;
    height: 330px;
}

.header-image img{
    width: 160%;
    margin-left: -30px;
}

.btn {
    border: 0;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 600;
    letter-spacing: .055rem;
    text-decoration: none;
    text-transform: uppercase;
}

.btn-lg {
    font-size: .9rem;
    padding: 20px 25px;
}

.btn-sm {
    font-size: .9rem;;
    font-weight: 700;
    padding: 15px;
}

.btn-white{
    background-color: white;
    color: var(--purple);
}

.btn-white-out {
    color: white;
    border: 2px solid white;
    background: none;
}

.btn-primary {
    background-color: var(--purple);
    color: white;
}

.btn-primary-out {
    color: var(--purple);
    border: 2px solid var(--purple);
    background: none;
}

.btn-google {
    background-color: var(--blueGoogle);
    color: white;    
    position: relative;
}
.btn-google .btn-img {
    align-items: center;
    background-color: white;
    border-radius: 2px;
    display: flex;
    justify-content: center;
    height: 45px;
    left: 7px;
    position: absolute;
    top: 7px;
    width: 45px;
}

.btn-google .btn-img img {
    height: 33px;
    width: 30px;
}

.link {
    color: var(--blue);
    font-size: 1rem;
    text-decoration: none;
    font-weight: 600;
}

.link span {
    margin-right: 5px;
}

.link::after {
    content: '';
    display: inline-block;
    background: url(../images/icon-arrow-right.png) no-repeat;
    height: 13px;
    width: 19px;
}

#section-companies {
    text-align: center;
    background-color: var(--ivory);
    padding: 50px 0;
}

#section-companies p{
    font-size: .945rem;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 30px;
}

#section-companies > div {
    display: flex;
    gap: 30px 20px;
    justify-content: center;
    flex-wrap: wrap;
}

#section-companies > div > img {
    height: 35px;
    width: auto;
}

section h2 {
    color: var(--black);
    font-size: 1.6rem;
}

section p {
    color: var(--blackDarker);
    font-weight: 600;
    line-height: 1.4;
}

section .content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 0 15px;
}

section.section-feature {
    background-color: var(--ivory);
}

section.section-feature .container {
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 10px 0 60px;
}

section.section-feature p{
    line-height: 1.6;
}

.feature-image {
    width: calc(100% - 15px);
}

.feature-image.image-right {
    margin-left: 15px;
}

#section-highlights .content{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 60px 15px 30px;
    text-align: center;
}

.highlighted-numbers {
    display: flex;
    flex-direction: column;
    gap: 25px;
    margin: 30px 0;
}

.highlighted-numbers .numbers {
    color: var(--purple);
    font-size: 2.745rem;
    font-weight: 700;
}

.highlighted-numbers .text {
    margin: 0 auto;
    font-size: .895rem;
    font-weight: 700;
    width: 170px;
}

.highlighted-numbers  sup {
    font-size: 1rem;
    line-height: 0;
    position: relative;
    margin-left: -4px;
    top: 0.135rem
}

#section-wellcome {
    background-color: var(--purple);
    margin-bottom: 50px;
    position: relative;
}
#section-wellcome::after {
    background-color: var(--purple);
    border-radius: 0 0 100% 100%;
    bottom: -39px;
    content: "";
    display: block;
    height: 240px;
    left: -20%;
    position: absolute;
    width: 140%;
    z-index: -1;
}

#section-wellcome .container{
    padding: 60px 15px 40px;
    text-align: center;
}

#section-wellcome h2 {
    color: white;
    margin-bottom: 30px;
}

.footer {
    padding: 60px 0;
}

.footer hr {
    display: block; height: 1px;
    border: 0; border-top: 1px solid var(--greyLighter);
}

.footer .container {
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 0 20px;
}

.footer-logo {
    height: 55px;
    width: 55px;
}

.footer-menus {
    display: flex;
    gap: 15px;
    justify-content: space-between;
}

.footer-menus > * {
    flex: 0 1 100%;
}

.footer-menus > ul > li {
    color: var(--grey);
    font-size: .875rem;
    line-height: 1.5;
    padding: 10px 0;
}

.footer-menus > ul > li:first-child {
    color: var(--black);
    font-weight: 700;
    text-transform: uppercase;
}

.footer-links {
    display: flex;
    flex-direction: column;
}

.footer-links > li{
    color: var(--blackDarker);
    font-size: .875rem;
    font-weight: 600;
    padding: 10px 0 20px;
}

.footer-menus > ul > li:last-child,
.footer-links > li:last-child {
    padding-bottom: 0;
}

.footer-social {
    display: flex;
    justify-content: space-between;
}

.footer-social i {
    font-size: 1.5rem;
}

.footer small {
    color: var(--grey);
    font-size: 0.725rem;
}
.link-download {
    display: flex;
}
.link-download::before {
    content: '';
    display: inline-block;
    background: url(../images/icon-download.svg) no-repeat;
    height: 16px;
    width: 19px;
    margin-right: 5px;
}